<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

    <title>Online library</title>
  </head>
  <body>
    <div class="mx-auto mt-5" style="width: 500px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if current_page_num == 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="./index{{ current_page_num - 1 }}.html" tabindex="-1">Назад</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="./index{{ current_page_num - 1 }}.html">Назад</a>
            </li>
          {% endif %}

          {% for page_num in range(1, pages_total + 1 ) %}
            {% if page_num == current_page_num %}
              <li class="page-item active">
                <a class="page-link" href="./index{{ page_num }}.html">{{ page_num }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="./index{{ page_num }}.html">{{ page_num }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if current_page_num == pages_total %}
            <li class="page-item disabled">
              <a class="page-link" href="./index{{ current_page_num + 1 }}.html" tabindex="-1" aria-disabled="true">Вперед</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="./index{{ current_page_num + 1 }}.html">Вперед</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        {% for book_card in book_cards %}
          <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{ book_card.img_src|urlencode }}" class="card-img" alt="{{ book_card.title }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book_card.title }}</h5>
                    <p class="card-text">{{ book_card.author }}</p>
                      <p>
                        {% for genre in book_card.genres %}
                          <span class="badge badge-secondary">{{ genre }}</span>
                        {% endfor %}
                      </p>
                    <a href="../media/{{ book_card.book_path|urlencode }}" target="_blank"> Читать </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>