<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap.min.css">

    <link rel="icon" href="{{ STATIC_PREFIX }}favicon.ico" type="image/x-icon">

    <title>Online library</title>
  </head>
  <body>
    <div class="mx-auto mt-5" style="width: 500px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item
            {% if current_page_num == 1 %}
              disabled
            {% endif %}"
          >
            <a class="page-link" href="./index{{ current_page_num - 1 }}.html" tabindex="-1">Назад</a>
          </li>
          {% for page_num in range(1, pages_total + 1 ) %}
            <li class="page-item
              {% if page_num == current_page_num %}
                active
              {% endif %}"
            >
              <a class="page-link" href="./index{{ page_num }}.html">{{ page_num }}</a>
            </li>
          {% endfor %}
          <li class="page-item
            {% if current_page_num == pages_total %}
              disabled
            {% endif %}"
          >
            <a class="page-link" href="./index{{ current_page_num + 1 }}.html" tabindex="-1" aria-disabled="true">Вперед</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        {% for book_card in book_cards %}
          <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row">
                <div class="col-md-4">
                  {% if book_card.img_src %}
                    <img src="{{ MEDIA_PREFIX }}images/{{ book_card.img_src|urlencode }}" class="card-img" alt="{{ book_card.title }}">
                  {% else %}
                    <img src="{{ STATIC_PREFIX }}nopic.gif" class="card-img" alt="default picture">
                  {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book_card.title }}</h5>
                    <p class="card-text">{{ book_card.author }}</p>
                      <p>
                        {% for genre in book_card.genres %}
                          <span class="badge badge-secondary">{{ genre }}</span>
                        {% endfor %}
                      </p>
                    <a href="{{ MEDIA_PREFIX }}{{ book_card.book_path|urlencode }}" target="_blank"> Читать </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script src="{{ STATIC_PREFIX }}jquery-3.5.1.slim.min.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap.bundle.min.js"></script>
  </body>
</html>